name: sqflite_test_app
description: sqflite test application.
publish_to: none

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.1.1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  # analyzer: '>=5.2.0'
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: '>=0.1.3'
  sqflite: '>=2.0.0-nullsafety.2'
  sqflite_common_ffi:
  sqflite_common_ffi_async:
  sqflite_example:
    path: ../sqflite/example
  flutter_web_plugins:
    sdk: flutter
  path_provider:
  sqflite_common:
  dev_build:
  process_run: '>=0.13.3-1'
  path:
  sqflite_common_ffi_web:

dev_dependencies:
  flutter_lints: '>=2.0.3'
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  integration_test:
    sdk: flutter
  sqflite_common_test:
    path: ../sqflite_common_test
  test: '>=1.16.0-nullsafety.10'
  pub_semver:
  sqlite3_flutter_libs:

dependency_overrides:
  sqflite:
    path: ../sqflite
  sqflite_common:
    path: ../sqflite_common
  sqflite_common_ffi:
    path: ../sqflite_common_ffi
  sqflite_common_ffi_web:
    path: ../packages_web/sqflite_common_ffi_web
  sqflite_common_ffi_async:
    path: ../packages/sqflite_common_ffi_async
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # plugin:
  #  platforms:
  #    web:
  #      pluginClass: SqflitePluginWeb
  #      fileName: src/sqflite_web_sim.dart

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/example.db
    - assets/issue_64.db
    # - packages/sqflite_common_ffi_web/src/web/sqlite3.wasm

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
