name: sqflite_example
description: Demonstrates how to use the sqflite plugin.

environment:
  sdk: ">=2.1.0-dev <3.0.0"

dependencies:
  path: any
  collection: any
  flutter:
    sdk: flutter
  sqflite:
    path: ../


dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: '>=1.4.0 <3.0.0'

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section here, in
  # this "flutter" section, as in:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - assets/example.db
    - assets/issue_64.db
