# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
/doc/api/

# flutter root folder wrongly created
/ios
/android
.symlinks

# IDE
.idea/
*.iml
.vscode/
