os:
  - linux
# Copied from https://github.com/flutter/plugins/blob/master/.travis.yml
sudo: false
addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
      - ubuntu-toolchain-r-test # if we don't specify this, the libstdc++6 we get is the wrong version
      - llvm-toolchain-precise # for clang-format-5.0
    packages:
      - libstdc++6
      - fonts-droid
      - clang-format-5.0
before_script:
  - git clone https://github.com/flutter/flutter.git --depth 1
  - export PATH=`pwd`/flutter/bin:`pwd`/flutter/bin/cache/dart-sdk/bin:$PATH
  - flutter doctor
script:
  - tool/travis.sh
