# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
/web/sqflite_sw.js
/web/sqflite_sw_v1.js
/web/sqlite3.wasm
/test/sqflite_sw.js
/test/sqlite3.wasm
