name: Run CI Web
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'  # every sunday at midnight

jobs:
  test:
    name: Test on ${{ matrix.os }} / dart ${{ matrix.dart }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./sqflite_support
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            dart: 3.3.0
          - os: ubuntu-latest
            dart: stable
          - os: ubuntu-latest
            dart: beta
          - os: ubuntu-latest
            dart: dev
          - os: windows-latest
            dart: stable
          - os: macos-latest
            dart: stable

    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1.4
        with:
          sdk: ${{ matrix.dart }}
      - run: dart --version
      - run: dart pub get
      - run: dart run tool/setup_env.dart
      - run: dart run tool/run_ci_web.dart
